
*{
    margin: 0;
    padding: 0;
}

body {
    background-image: url('bg1.jpg');
    background-size: cover;
  }
.sidebar{
   background-color: rgb(243, 224, 224);
    height: 100vh;
    font-family: 'Itim', cursive;
    transition: transform 0.3s ease-in;
    position: absolute;
}

.sidebar nav{
    padding: 30px;
}

.sidebar nav li{
    padding : 33px 0;
    list-style: none;
    font-size: 25px;
}

.sidebar nav li a{
    text-decoration: none;
    color: black;
}

.main{
    /*background-color: yellow;*/
    width: 90vw;
    
}

.container{
    display: flex;
}

.button{
    margin-top: 34px;
}
.btn{
    padding: 9px 14px;
    border-radius: 22px;
    color: white;
    background-color: dodgerblue;
    font-weight: bold;
    font-size:21px;
    margin: 0 3px;
    font-size: 21px;
    cursor: pointer;

}

.btn:hover{
    background-color: white;
    color: dodgerblue;
}

.intro h2{
    font-family: 'Itim', cursive;
    text-align: center;
    font-size: 50px;
    padding: 12px 0 ;
}

.intro p{
    text-align: center;
    font-weight: bold;
}
.intro{
    margin-top: 5vh;
    margin-left: 5vw;
    justify-content: center;
    font-family: 'Source Sans Pro', sans-serif;
    width: 90vw;
    background-color: #B1EDF9;
    border-radius: 20px;
    height: 90vh;
}

.skills{
    width: 265px;
    height: 6px;
    background-color: red;
}

.skillcontainer{
    padding: 12px;
}

.skillitem{
    display: flex;
    height: 50px;
    font-size: 30px;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
}

.full{
    width: 300px;
    height: 20px;
    border-radius: 10px;
    background-color: blue;
    border: 2px solid black;
}

.half{
    width: 200px;
    height: 20px;
    border-radius: 10px;
    background-color: purple;
    border: 2px solid black;
}

.quater{
    width: 160px;
    height: 20px;
    border-radius: 10px;
    background-color: green;
    border: 2px solid black;
}

.hamburger{
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
}

.ham{
    margin-top: 10px;
    margin-left: 10px;
}
.cross{
    margin-top: 8px;
    margin-left: 140px;
}

.sidebargo{
    transform: translate(-443px, 0px);
    position: absolute;
   } 
